@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(229 231 235);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: theme('colors.vue-blue');
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: theme('colors.vue-blue-dark');
}